# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management

# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:magisk:s0 root root -- /init.spectrum.sh
    exec u:r:init:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1
    setprop persist.spectrum.kernel Krieg

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2496000
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 1000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/msm_performance/parameters/touchboost 1
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

# Performance
on property:persist.spectrum.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2496000
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 100
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 100
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/module/cpu_boost/parameters/boost_ms 120
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 1:0 2:1036800 3:0 4:729600 5:0 6:0 7:729600"
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2

# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 1000
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 14000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 1000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 14000
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1

# Gaming
on property:persist.spectrum.profile=3
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2496000
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 100
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 100
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/module/cpu_boost/parameters/boost_ms 120
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 1:0 2:1036800 3:0 4:729600 5:0 6:0 7:729600"
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
